@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$light-color: #cfdbd5;
$accent-color: #f5cb5c;
$dark-color: #333533;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#ascuns {
    visibility: hidden;
}

.App {
    text-align: center;
    background-color: $dark-color;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    color: $light-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    small {
        margin-top: 2rem;
        color: $accent-color;
    }
    .Calculator {
        .FlexContainer {
            display: flex;
            margin-top: 0rem;
            flex-direction: row;
            .Keypad {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                button {
                    background-color: $dark-color;
                    color: $light-color;
                    width: 3.5rem;
                    height: 3.5rem;
                    margin: 0.2rem;
                    border: 0;
                    border-bottom: 1px solid $accent-color;
                    border-radius: 5px;
                    font-size: 2rem;
                    outline: none;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.5;
                    }
                    &:active {
                        background-color: $accent-color;
                        opacity: 1;
                    }
                }
            }
            .Operators {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                button {
                    background-color: $dark-color;
                    color: $accent-color;
                    width: 3.5rem;
                    height: 3.5rem;
                    margin: 0.2rem;
                    border: 0;
                    border-bottom: 1px solid $light-color;
                    border-radius: 5px;
                    font-size: 2rem;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.5;
                    }
                    &:active {
                        background-color: $accent-color;
                        opacity: 1;
                    }
                }
            }
        }
        .Display {
            height: 3.5rem;
            background-color: $dark-color;
            border-bottom: 1px solid $accent-color;
            width: 19.1rem;
            margin: 0 auto;
            border-radius: 10px;
            line-height: 3.5rem;
            font-size: 1.5rem;
            color: $light-color;
        }
        .Error {
            border: 1px solid red;
        }
        .Info {
            padding: 0.2rem 0;
            font-size: 0.8rem;
            color: $accent-color;
        }
    }
}
@media (min-width: 1000px) {
    :root {
        font-size: 32px;
    }
}
